.form {
    max-width: 750px;
    margin: 0 auto;

    .columns {
        margin-bottom: 0;
    }

    .column {
        padding-top: 0;
        padding-bottom: 0;
    }

    ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $white;
        opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $white;
    }

    ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: $white;
    }

    &__input {
        position: relative;

        [type='text'],
        [type='email'],
        textarea {
            width: 100%;
            overflow: visible;
            padding: 10px 17px;
            font-size: 1rem /* 16/16 */;
            line-height: 1.5rem /* 24/16 */;
            transition: all 0.5s ease;
            border: 1px solid $color-input-border;
            border-radius: 3px;

            &:focus,
            &:not(:placeholder-shown) {
                + label {
                    transform: scale(1) translate(10px, -72px);
                    opacity: 1;
                }
            }
        }

        [type='text'],
        [type='email'] {
            height: 3.75rem /* 60/16 */;
        }

        label {
            display: inline-block;
            font-size: 0.8125rem /* 13/16 */;
            color: rgba($black, 0.75);
            position: relative;
            background-color: $white;
            padding: 4px 6px 4px 10px;
            transform: scale(1.2) translate(12px, -36px);
            opacity: 1;
            transition: all 0.35s ease;
        }

        textarea {
            height: 152px;

            + label {
                transform: scale(1.2) translate(12px, -123px);
            }

            &:focus,
            &:not(:placeholder-shown) {
                + label {
                    transform: scale(1) translate(12px, -171px);
                }
            }
        }

        [type='submit'] {
            font-size: 1rem /* 16/16 */;
            font-weight: $font-bold;
            padding: 22px 50px;
            border: 0;
            background-color: $yellow-alternative;
            cursor: pointer;
        }
    }
}
