.icon {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;

    &--angle {
        background-image: url('../assets/down.svg');
        width: 30px;
        height: 30px;
    }

    &--arrow-right {
        background-image: url('../assets/arrow.svg');
        width: 28px;
        height: 36px;
    }
}
