.section-1-item {
    display: flex;
    align-items: center;
    margin-bottom: 1.875rem /* 30/16 */;

    @media screen and (min-width: $desktop) {
        margin-bottom: 5.3125rem /* 85/16 */;
    }

    &--top-space {
        @media screen and (min-width: $tablet) {
            padding-top: 80px;
        }
    }

    &__icon {
        flex-shrink: 0;
    }

    &__text {
        padding-left: 2.5rem /* 40/16 */
    }
}
