.section-6 {
    .section__title {
        margin-bottom: 1.25rem /* 20/16 */;
    }

    &__content {
        min-height: 408px;
        max-width: 98%;
        margin: 0 auto;

        @media screen and (min-width: $desktop) {
            background: transparent url('../assets/infograph.svg') no-repeat center 92px;
            background-size: 95%;
        }
    }
}

.section-6-item {
    padding: 0 15px;
    margin-bottom: 1.5625rem /* 25/16 */;

    @media screen and (min-width: $desktop) {
        margin-bottom: 1.875rem /* 30/16 */;
    }

    @media screen and (min-width: $widescreen) {
        margin-bottom: 3.9375rem /* 63/16 */;
    }

    &__icon {
        margin-bottom: 2.125rem /* 34/16 */;
    }

    &__text {
        @media screen and (min-width: $desktop) {
            font-size: .8125rem /* 13/16 */;
        }

        @media screen and (min-width: $widescreen) {
            font-size: 1rem /* 16/16 */;
        }
    }
}
