.section-3 {
    background-color: $color-dark-background;

    .section__title {
        text-align: center;

        @media screen and (min-width: $desktop) {
            text-align: left;
        }
    }
}

.section-3-item {
    text-align: center;
    padding: 0 10px;

    &__icon {
        margin-bottom: 1.25rem /* 20/16 */;
    }

    &__title {
        font-weight: $font-bold;
        margin-bottom: 1.25rem /* 20/16 */;
    }
}
