.table-wrapper {
    max-width: 100%;
}

.table-offer {
    color: rgba($black, 0.75);

    @media screen and (min-width: $desktop) {
        // border-spacing: 30px 0;
    }

    &__header {
        font-size: 0.875rem /* 14/16 */;
        line-height: 1.125rem /* 18/16 */;
        padding: 20px;
        display: flex;
        align-items: center;
        white-space: nowrap;

        @media screen and (min-width: $desktop) {
            font-size: 1.1rem;
            min-height: 110px;
            padding: 10px;
        }

        @media screen and (min-width: $widescreen) {
            font-size: 1.5rem /* 24/16 */;
            line-height: 2.375rem /* 38/16 */;
            // padding: 10px 30px;
        }
    }

    &__column {
        &:not(.table-offer__column--first) {
            border-radius: 10px;
            box-shadow: 0 0 10px rgba($black, 0.1);

            .table-offer__header {
                background-color: $blue;
                color: $white;
                font-weight: $font-extrabold;
                border-radius: 10px 10px 0 0;
            }
        }

        &--first {
            display: none;

            @media screen and (min-width: $tablet) {
                display: block;
            }

            .table-offer__row {
                background-color: transparent;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: $font-bold;
                text-align: center;

                @media screen and (min-width: $tablet) {
                    text-align: left;
                    align-items: flex-start;
                    padding-left: 20px;
                }

                @media screen and (min-width: $desktop) {
                    align-items: center;
                    justify-content: flex-start;
                    text-align: left;
                }

                &::after {
                    @media screen and (min-width: $desktop) {
                        left: 0;
                        right: 0;
                    }
                }
            }
        }
    }

    &__row {
        padding: .625rem /* 10/16 */ 1.75rem /* 10/16 */;
        position: relative;
        background-color: $white;
        font-size: 0.8125rem /* 13/16 */;
        height: 150px;
        display: flex;
        align-items: center;
        flex-direction: column;

        @media screen and (min-width: $tablet) {
            height: 110px;
        }

        @media screen and (min-width: $desktop) {
            padding: 1.25rem /* 20/16 */ 1.75rem /* 10/16 */;
            position: relative;
            font-size: 1rem /* 16/16 */;
            flex-direction: row;
            height: 110px;
        }

        &--centered {
            justify-content: center;
        }

        &-label {
            margin-bottom: 15px;
            font-weight: $font-bold;
            text-align: center;

            @media screen and (min-width: $tablet) {
                display: none;
            }
        }

        &::after {
            content: '';
            display: block;
            height: 1px;
            background-color: $color-table-border;
            position: absolute;
            bottom: 0;
            left: 0.625rem /* 10/16 */;
            right: 0.625rem /* 10/16 */;
            z-index: 1;

            @media screen and (min-width: $desktop) {
                left: 1.75rem;
                right: 1.75rem;
            }
        }

        &:nth-of-type(2) {
            height: auto;
            min-height: 355px;

            @media screen and (min-width: $tablet) {
                min-height: 360px;
            }

            @media screen and (min-width: $desktop) {
                min-height: 498px;
            }

            @media screen and (min-width: $widescreen) {
                min-height: 392px;
            }
        }

        &:last-of-type {
            border-radius: 0 0 10px 10px;

            &::after {
                display: none;
            }
        }
    }

    tfoot {
        td {
            padding: 1.5625rem /* 25/16 */ 0 0;

            &::after,
            &::before {
                display: none;
            }
        }
    }

    &__icon-wrapper {
        margin: 0 -15px;
        display: flex;
        flex-wrap: nowrap;

        @media screen and (min-width: $tablet) {
            flex-wrap: wrap;
        }

        &--top-spacing {
            margin-top: 20px;
        }

        img {
            flex-shrink: 0;
            margin-bottom: 10px;
            margin-right: -4px;
            max-width: 20%;

            @media screen and (min-width: $desktop) {
                max-width: 100%;
            }
        }
    }
}
