// colors
$white: #fff;
$black: #000;
$blue: #10418f;
$gray: #D8D8D8;
$gray-alternative: #979797;
$gray-alternative-2: #F8F8F8;
$yellow: #FFC02B;
$yellow-alternative: #FFCC00;

$color-table-border: $gray;
$color-input-border: $gray-alternative;
$color-dark-background: $gray-alternative-2;

// fonts
$font-default: 'Open Sans', sans-serif;
$font-bold: 700;
$font-extrabold: 800;
